		body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: lightgrey;
  margin: 5;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px 55px;
  text-decoration: none;
}

.navbar input[type="submit"]{
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px 55px;
  text-decoration: none;
  border: none;
  background-color: lightgrey;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 5;
  margin-top: 5%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: midnightblue;
}

.navbar input:hover[type="submit"]{
  background-color: midnightblue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: midnightblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}